.form {
  margin: 7rem 2rem 0rem 2rem;
  height: 30%;
  padding: 10%;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: var(--light-color);
  border-color: var(--dark-color);
  border-style: solid;
  border-width: 0.3rem;
  border-radius: 2rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 3px 6px;
}

.form__question,
.form__answer,
.form__input-tag,
.form__character-count {
  color: var(--dark-color);
  margin: 0.5rem 1rem;
}

.form__answer--text{
  color: var(--dark-color);
  margin: 1rem 1rem;
  font-weight: 3rem;
}

textarea, 
.form__input-tag {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.4);
  border: solid var(--dark-color) ;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 3px 6px;
  width: 90%;
}
.card__bookmark_icon--unactive
.card__bookmark_icon--active {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  position: top;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.form__input-tag{
  width: 40%;
  height: 20px;
  margin: 0.5rem;
}

.form__button--submit{
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--dark-color);
  color: var(--light-color);
  box-shadow: rgba(0, 0, 0, 0.15) 2px 3px 3px;
}
