/* __________________GLOBAL SETTINGS__________________ */
* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  body {
    background-color: var(--light-color);
  }
  
  /* __________________VARIABLES__________________ */
  :root {
    --background: white;
    --dark-color: #2f3c7e;
    --foreground: black;
    --light-color: #fbeaeb;
  }

 /* __________________FILTERS__________________ */

/* blue */
.nav__links {
    filter: invert(100%) sepia(34%) saturate(2246%) hue-rotate(216deg)
      brightness(107%) contrast(96%);
  }
  /* lightpink */
  .bookmark,
  .profile__image,
  .questionimg,
  .bmimg {
    filter: invert(19%) sepia(58%) saturate(1184%) hue-rotate(203deg)
      brightness(97%) contrast(92%);
  }
  
  /* __________________HEADER__________________ */
  .header--title {
    text-transform: uppercase;
    color: var(--light-color);
  }

  .header--subtitle {
    text-transform: uppercase;
    color: var(--light-color);
    font-weight: 1px;
    position: fixed;
    top:3%;
    width: 100%;
  }

  header {
    background-color: var(--dark-color);
    font-size: 0.8rem;
    height: 13%;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  
/* __________________NAVBAR_FOOTER__________________ */
nav {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 13%;
    z-index: 1;
    background-color: var(--dark-color);
  }
  
  .nav__links li {
    display: inline-block;
    padding: 0rem 2rem;
  }

