.profile__image {
    width: 50%;
  }
  
  h3 {
    position: absolute;
    text-transform: capitalize;
    right: 5%;
    color: var(--dark-color);
  }
  
  article {
    padding: 20px;
    height: 400px;
    background-color: var(--light-color);
    color: var(--dark-color);
    border-radius: 30px;
    align-items: center;
  }
  
  section {
    width: 100%;
    border-radius: 10px;
    height: 10rem;
    background-color: var(--dark-color);
    padding: 10px;
  }
  
  .counter {
    color: var(--dark-color);
  }

  .button--option {
    display: inline-block;
    padding: 0rem 2rem;
  }

  /* __________________DARK_MODE_TOGGLE__________________ */

/* The switch - the box around the slider */
/* .icon--light-mode{
  position: absolute;
  top: 15%;
  right: 10%;
} */