/* __________________GENERAL SETUP__________________ */
* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

/* __________________HEADER__________________ */
header {
    display:flex;
    justify-content: center;
    background-color: orangered;
    border-radius: 10px;
    width: 100%;
    color: rgb(255, 255, 255);
}

/* __________________MAIN:QUESTIONS__________________ */
/* main{
    display: flex;
} */

.box {
    width: fit-content;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* background-color:rgba(206, 223, 21, 0.158); */
    border-color: orangered;
    border-style:solid;
    border-width: 0.3rem;
    border-radius: 10px;
}

.answer {
    flex: display;
    justify-content:space-around;
    border:none;
    padding: 2%;
    border-radius: 10px;
    background-color: coral;

}

.box__bookmark {
  border: 2px solid #ff4a11;
  border-radius: 5%;
  display: flex;
}

section {
    width: 100%;
    background-color: white;
    padding: 10px
}

/* __________________NAVBAR_FOOTER__________________ */
nav {
    display: flex;
    flex-wrap:nowrap;
    justify-content: center;
    align-items: baseline;
    align-content: flex-end;
    /* position: fixed; */
    width: 100%;
    border-radius: 10px;
    z-index: 1;
    background-color: orangered;
  }
  
  .nav__links li {
    display: inline-block;
    padding: 0px 10px;
  }
  
  .nav__links li a {
    transition: all 0.3sec ease 0;
  }
  
  .nav__links li a:hover {
    color: rgb(255, 255, 255);
  }