/* __________________GENERAL SETUP__________________ */
* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

/* __________________HEADER__________________ */
header {
    display:flex;
    justify-content: center;
    background-color: orangered;
    border-radius: 10px;
    width: 100%;
    color: rgb(255, 255, 255);
}

/* __________________MAIN:QUESTIONS__________________ */
/* main{
    display: flex;
} */

h4 {
  text-align: center;
  font-size: 1rem;
  font-weight: 100;
}

.cards {
    width: fit-content;
    height: 300px;
    width: 100%;
    padding: 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* ------box_style------ */
    /* background-color:rgba(206, 223, 21, 0.158); */
    border-color: orangered;
    border-style:solid;
    border-width: 0.3rem;
    border-radius: 10px;
}

.answer {
    flex: display;
    justify-content:space-around;
    border:none;
    padding: 2%;
    border-radius: 10px;
    background-color: coral;

}

.bookmark {
  background-color: deeppink;
  color: white;
  border:none;
  border-radius: 5%;
  position: top;
  position: absolute;
}

.bm--1 {
  top: 1rem;
  right:1rem;
}
.bm--2 {
  top: 1rem;
  right:1rem;
}

section {
    width: 100%;
    background-color: white;
    padding: 10px
}

/* __________________NAVBAR_FOOTER__________________ */
nav {
    display: flex;
    flex-wrap:nowrap;
    justify-content: center;
    align-items: baseline;
    align-content: flex-end;
    /* position: fixed; */
    width: 100%;
    border-radius: 10px;
    z-index: 1;
    background-color: orangered;
  }
  
  .nav__links li {
    display: inline-block;
    padding: 0px 10px;
  }
  
  .nav__links li a {
    transition: all 0.3sec ease 0;
  }
  
  .nav__links li a:hover {
    color: rgb(255, 255, 255);
  }